.btn-blue {
    background: #4287ee;
    color: #fff;
}

.navbar .navbar-brand {
    color: #4287ee;
    /* background: #787c83; */
    font-size: 38px;
}

.dropdown-menu.open {
    padding-top: 20px;
}

/* Graph styling */

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}