<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deep Viz</title>
</head>
<style>
    .axis path,
    .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }

    .axis text {
        font-family: sans-serif;
        font-size: 11px;
    }
</style>
<body>

    <p>
        <input type="text" id="plot"/>
        <input type="button" value="Update" class="update" id="plot-update"/>
        <br>
        <input type="text" id="dataset"/>
        <input type="button" value="Update" class="update" id="dataset-update"/>
    </p>

    <div id="data" data-plot="{{ plot }}">
        <pre></pre>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="{{ script }}"></script>
</body>
</html>